.example-container {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  
  .example-container > * {
    width: 100%;
    align-items: center;
  }
  

  .form-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }